:root {
  --gap-space: 2rem;
}

body {
  margin: 0;
  background-color: antiquewhite;
  background-image: url('./img/pattern.svg');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: darksalmon;
}

.display {
  display: grid;
  gap: var(--gap-space);
  place-items: center;
}

.choice {
  display: flex;
  gap: var(--gap-space);
  justify-content: center;
}

button {
  background-color: lightblue;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  max-width: 30%;
  padding: 10px 20px;
  justify-self: center;
  transition: background-color 0.3s ease;
}

button:active {
  background-color: rgb(89, 158, 181);
}

.reset {
  max-width: fit-content;
}

.final {
  text-align: center;
  font-size: 1.5em;
  color: darksalmon;
  font-weight: 600;
}
